In [3]:
import datetime
import numpy as np
import matplotlib.pyplot as plt

try:
    from matplotlib.finance import quotes_historical_yahoo
except ImportError:
    from matplotlib.finance import quotes_historical_yahoo_ochl as quotes_historical_yahoo

## Step 1: Retrieve the data from Yahoo

In [4]:
# Choose a time period reasonnably calm (not too long ago so that we get
# high-tech firms, and before the 2008 crash)
d1 = datetime.datetime(2003, 1, 1)
d2 = datetime.datetime(2008, 1, 1)

# kraft symbol has now changed from KFT to MDLZ in yahoo
symbol_dict = {
    'TOT': 'Total',
    'XOM': 'Exxon',
    'CVX': 'Chevron',
    'COP': 'ConocoPhillips',
    'VLO': 'Valero Energy',
    'MSFT': 'Microsoft',
    'IBM': 'IBM',
    'TWX': 'Time Warner',
    'CMCSA': 'Comcast',
    'DIS': 'Disney',
    'YHOO': 'Yahoo',
    'DELL': 'Dell',
    'HPQ': 'HP',
    'AMZN': 'Amazon',
    'TM': 'Toyota',
    'CAJ': 'Canon',
    'MTU': 'Mitsubishi',
    'SNE': 'Sony',
    'F': 'Ford',
    'HMC': 'Honda',
    'NAV': 'Navistar',
    'NOC': 'Northrop Grumman',
    'BA': 'Boeing',
    'KO': 'Coca Cola',
    'MMM': '3M',
    'MCD': 'Mc Donalds',
    'PEP': 'Pepsi',
    'MDLZ': 'Kraft Foods',
    'K': 'Kellogg',
    'UN': 'Unilever',
    'MAR': 'Marriott',
    'PG': 'Procter Gamble',
    'CL': 'Colgate-Palmolive',
    'GE': 'General Electrics',
    'WFC': 'Wells Fargo',
    'JPM': 'JPMorgan Chase',
    'C': 'CitiGroup',
    'AXP': 'American express',
    'BAC': 'Bank of America',
    'GS': 'Goldman Sachs',
    'AAPL': 'Apple',
    'SAP': 'SAP',
    'CSCO': 'Cisco',
    'TXN': 'Texas instruments',
    'XRX': 'Xerox',
    'LMT': 'Lookheed Martin',
    'WMT': 'Wal-Mart',
    'WBA': 'Walgreen',
    'HD': 'Home Depot',
    'GSK': 'GlaxoSmithKline',
    'PFE': 'Pfizer',
    'SNY': 'Sanofi-Aventis',
    'NVS': 'Novartis',
    'KMB': 'Kimberly-Clark',
    'R': 'Ryder',
    'GD': 'General Dynamics',
    'RTN': 'Raytheon',
    'CVS': 'CVS',
    'CAT': 'Caterpillar',
    'DD': 'DuPont de Nemours'}

symbols, names = np.array(list(symbol_dict.items())).T
print(names)

['ConocoPhillips' 'American express' 'Raytheon' 'Boeing' 'Apple' 'Pepsi'
 'Navistar' 'GlaxoSmithKline' 'Microsoft' 'Kimberly-Clark' 'Ryder' 'SAP'
 'Goldman Sachs' 'Colgate-Palmolive' 'Wal-Mart' 'General Electrics' 'Sony'
 'Pfizer' 'Amazon' 'Marriott' 'Novartis' 'Coca Cola' '3M' 'Comcast'
 'Sanofi-Aventis' 'IBM' 'Chevron' 'Wells Fargo' 'DuPont de Nemours' 'CVS'
 'Total' 'Caterpillar' 'Canon' 'Bank of America' 'Walgreen' 'Time Warner'
 'Home Depot' 'Disney' 'Texas instruments' 'Valero Energy' 'Ford' 'Toyota'
 'Procter Gamble' 'Lookheed Martin' 'Kellogg' 'Honda' 'CitiGroup'
 'General Dynamics' 'HP' 'Dell' 'Mitsubishi' 'Xerox' 'Yahoo' 'Exxon'
 'JPMorgan Chase' 'Mc Donalds' 'Cisco' 'Northrop Grumman' 'Kraft Foods'
 'Unilever']

In [5]:
# Get data from Yahoo
quotes = [quotes_historical_yahoo(symbol, d1, d2, asobject=True)
          for symbol in symbols]

close = np.array([q.close for q in quotes]).astype(np.float)
type(quotes)
close[0:10]

array([[ 11.831807,  11.848596,  12.071659, ...,  47.962823,  48.222516,
         47.773463],
       [ 26.273897,  26.367042,  27.291319, ...,  43.731773,  43.509265,
         44.519118],
       [ 22.101006,  22.115003,  22.387941, ...,  47.808728,  47.847622,
         47.414101],
       ...,
       [ 19.949417,  20.115189,  20.151451, ...,  31.624676,  31.273428,
         31.051587],
       [ 18.361208,  18.385134,  18.720093, ...,  28.860541,  28.980891,
         28.563669],
       [ 28.204077,  28.079255,  28.376448, ...,  48.420911,  48.727461,
         48.309433]])

In [6]:
# Backup for no internet scenario
filename = "backup.dat"
print(filename)
fileobj = open(filename, mode='wb')
np.savetxt(filename, close, delimiter=",")
fileobj.close()

backup.dat

In [7]:
# Load data from file
fileobj2 = open(filename, mode='rb')
close = np.genfromtxt(fileobj2,delimiter=",")
print(close)
fileobj2.close

[[ 11.831807  11.848596  12.071659 ...,  47.962823  48.222516  47.773463]
 [ 26.273897  26.367042  27.291319 ...,  43.731773  43.509265  44.519118]
 [ 22.101006  22.115003  22.387941 ...,  47.808728  47.847622  47.414101]
 ...,
 [ 32.382796  32.253006  32.587216 ...,  56.618485  56.348569  55.858459]
 [ 17.81961   17.669597  17.510494 ...,  17.121425  17.131824  16.965445]
 [ 12.794896  12.658473  12.718419 ...,  26.762685  26.929498  26.443562]]

In [8]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

## Step 2: Compute returns

In [9]:
close = close.T
returns = close[:-1] / close[1:] - 1
print(type(returns))

<type 'numpy.ndarray'>

## Step 3 : Create Data frame

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(returns, columns = symbol_dict)
df.head()

,COP,AXP,RTN,BA,AAPL,PEP,NAV,GSK,MSFT,KMB,...,MTU,XRX,YHOO,XOM,JPM,MCD,CSCO,NOC,MDLZ,UN
0,-0.001417,-0.003533,-0.000633,-0.008777,-0.006712,-0.006913,-0.010204,-0.008241,-0.001301,0.004445,...,-0.009208,-0.014493,-0.027624,-0.000845,-0.019275,0.026675,-0.019410,0.004024,0.008490,0.010777
1,-0.018478,-0.033867,-0.012191,0.001465,0.000000,0.010242,-0.018490,-0.001799,-0.017893,-0.010473,...,-0.025135,-0.018957,-0.044351,-0.024189,-0.072909,-0.031832,-0.020423,-0.010256,0.009086,-0.004713
2,0.039017,0.013571,0.018465,0.024925,0.003367,0.018492,-0.003455,0.010127,-0.018459,0.013803,...,0.052930,0.015644,-0.010966,0.034993,0.005029,-0.001200,-0.027397,0.020526,-0.003621,0.012173
3,0.017861,0.007507,-0.003490,-0.005970,0.020619,-0.012178,0.015199,-0.022092,0.028761,0.013778,...,0.019268,0.004837,0.021333,0.004286,0.039970,-0.010095,0.011080,0.001730,0.001554,-0.003769
4,-0.008748,-0.020740,0.016446,-0.011799,-0.008856,-0.010199,-0.016104,-0.008809,-0.028131,-0.006417,...,-0.020755,-0.013127,-0.035494,-0.020705,-0.019414,-0.001778,-0.034114,-0.006171,-0.010003,-0.004568

## Step 4 : Compute Correlations and Dissimilarity matrix

In [12]:
corrMatrix = df.corr()
diss = 1-corrMatrix
diss['Company'] = symbol_dict.values()
diss.head(10)

,COP,AXP,RTN,BA,AAPL,PEP,NAV,GSK,MSFT,KMB,...,XRX,YHOO,XOM,JPM,MCD,CSCO,NOC,MDLZ,UN,Company
COP,0.000000,0.677778,0.791858,0.745889,0.776606,0.810188,0.777832,0.833621,0.790888,0.784564,...,0.808126,0.825326,0.233509,0.714643,0.856983,0.831557,0.782784,0.858537,0.787320,ConocoPhillips
AXP,0.677778,0.000000,0.662390,0.613355,0.687350,0.599745,0.617417,0.652975,0.554316,0.599246,...,0.621600,0.695421,0.562185,0.316582,0.645123,0.592243,0.656349,0.726950,0.647759,American express
RTN,0.791858,0.662390,0.000000,0.535160,0.781740,0.780530,0.707567,0.795584,0.734174,0.698416,...,0.755045,0.833343,0.725928,0.634601,0.783466,0.769820,0.432693,0.791456,0.759210,Raytheon
BA,0.745889,0.613355,0.535160,0.000000,0.756697,0.731223,0.635720,0.735103,0.692074,0.663448,...,0.709159,0.799253,0.677725,0.587944,0.694031,0.688115,0.553318,0.719469,0.783348,Boeing
AAPL,0.776606,0.687350,0.781740,0.756697,0.000000,0.819035,0.721385,0.849213,0.666573,0.790416,...,0.742211,0.709198,0.719759,0.682138,0.781909,0.659056,0.790031,0.850695,0.789173,Apple
PEP,0.810188,0.599745,0.780530,0.731223,0.819035,0.000000,0.768944,0.693988,0.685429,0.649507,...,0.730345,0.794847,0.682358,0.617271,0.771722,0.759850,0.761184,0.695950,0.718995,Pepsi
NAV,0.777832,0.617417,0.707567,0.635720,0.721385,0.768944,0.000000,0.737049,0.697253,0.733873,...,0.705295,0.735201,0.713090,0.591745,0.751651,0.711070,0.759652,0.830355,0.757356,Navistar
GSK,0.833621,0.652975,0.795584,0.735103,0.849213,0.693988,0.737049,0.000000,0.762565,0.729547,...,0.821127,0.780454,0.746979,0.614344,0.788583,0.735496,0.769436,0.784994,0.702206,GlaxoSmithKline
MSFT,0.790888,0.554316,0.734174,0.692074,0.666573,0.685429,0.697253,0.762565,0.000000,0.678099,...,0.688737,0.694311,0.692466,0.555571,0.736870,0.532086,0.735424,0.778980,0.749316,Microsoft
KMB,0.784564,0.599246,0.698416,0.663448,0.790416,0.649507,0.733873,0.729547,0.678099,0.000000,...,0.734614,0.813260,0.654145,0.571387,0.725114,0.751429,0.678407,0.725782,0.768356,Kimberly-Clark

## Step 5: Transfer data to Spark and run K-means clustering in Spark

In [13]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [14]:
distance = sqlContext.createDataFrame(diss)

In [15]:
my_cols = distance.columns
my_cols.remove('Company')

In [16]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(
    inputCols= my_cols,
    outputCol="features")

In [17]:
distance_kmeans = assembler.transform(distance).select("features","Company")

In [24]:
distance_kmeans.show(6)

+--------------------+----------------+
|            features|         Company|
+--------------------+----------------+
|[0.0,0.6777782138...|  ConocoPhillips|
|[0.67777821386654...|American express|
|[0.79185823914858...|        Raytheon|
|[0.74588905376222...|          Boeing|
|[0.77660633987847...|           Apple|
|[0.81018811567897...|           Pepsi|
+--------------------+----------------+
only showing top 6 rows

## Step 6: Run a K-means model

In [19]:
from pyspark.ml.clustering import KMeans
kmeans = KMeans(k=10, tol=1e-6, maxIter=100)

In [20]:
distance_kmeans.cache()

DataFrame[features: vector, Company: string]

In [21]:
model = kmeans.fit(distance_kmeans)

In [22]:
transformed = model.transform(distance_kmeans).select("prediction", "Company")

## Step 7: Show predicted clusters

In [23]:
transformed.orderBy("prediction").show(60)

+----------+-----------------+
|prediction|          Company|
+----------+-----------------+
|         0|   Kimberly-Clark|
|         0|   Procter Gamble|
|         0|       Home Depot|
|         0|         Wal-Mart|
|         1|             Sony|
|         1|            Canon|
|         1|            Honda|
|         1|           Toyota|
|         1|       Mitsubishi|
|         2|         Novartis|
|         2|            Pepsi|
|         2|   Sanofi-Aventis|
|         2|        Coca Cola|
|         2|  GlaxoSmithKline|
|         2|          Kellogg|
|         2|           Pfizer|
|         3|      Kraft Foods|
|         3|Colgate-Palmolive|
|         3|         Unilever|
|         4| Northrop Grumman|
|         4|               3M|
|         4|           Boeing|
|         4|             Ford|
|         4|         Marriott|
|         4|         Raytheon|
|         4|      Caterpillar|
|         4|            Ryder|
|         4|         Navistar|
|         4| General Dynamics|
|         5|            Total|
|         5|   ConocoPhillips|
|         5|          Chevron|
|         5|    Valero Energy|
|         5|            Exxon|
|         6|  Lookheed Martin|
|         6|         Walgreen|
|         6|              CVS|
|         7|Texas instruments|
|         7|             Dell|
|         7|        Microsoft|
|         7|            Xerox|
|         7|            Cisco|
|         7|              SAP|
|         7|              IBM|
|         8|           Amazon|
|         8|            Yahoo|
|         8|          Comcast|
|         8|               HP|
|         8|            Apple|
|         8|      Time Warner|
|         8|       Mc Donalds|
|         9| American express|
|         9|   JPMorgan Chase|
|         9|General Electrics|
|         9|    Goldman Sachs|
|         9|      Wells Fargo|
|         9|           Disney|
|         9|DuPont de Nemours|
|         9|        CitiGroup|
|         9|  Bank of America|
+----------+-----------------+